button {
  width: 200px;
}
h1 {
  font-family: Mistral;
  background: #2f5cb6;
  color: white;
  height: 60px;
  text-align: center;
}
h2 {
  text-align: center;
  font-family: Mistral;
}
table {
  background: #aec2ea;
  width: 75%;
  position: relative;
  left: 18%;
  text-align: left;
}
#people {
  top: -150px;
}
tr {
  height: 40px;
}
#red,
#red1 {
  position: relative;
  left: 37%;
}
#id01,
#id02 {
  position: relative;
  top: -150px;
  left: 18%;
  border: 1px solid black;
  backgrond: white;
  width: 75%;
}
