button {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: #d1d1d9;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#6e7078, #515156) #6e7078;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}
button {
  background: linear-gradient(#7e7e86, #46474c) #7e7e86;
}
button {
  top: 1px;
  background: linear-gradient(#4c4d52, #38393e) #4c4d52;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
